<li><a href="{{ item.href }}"{% if item.ext %} rel="noopener"{% endif %}><svg class="cur" width="12" height="18" viewBox="0 0 7 10" aria-hidden="true"><path d="M0 0h2v1h1v1h1v1h1v1h1v1h1v1H6v1H5v1H4v1H3v1H2v1H0z" fill="currentColor"/></svg><div><div class="nm">{{ item.name | safe }}</div><div class="sub">{{ item.sub | safe }}</div></div></a></li>
