<span class="name">KARTIK</span><span><span class="c1">F</span><span class="c2">L</span><span class="c3">U</span><span class="c5">K</span><span class="c6">E</span></span><span class="name">SINGH</span>
