---
layout: layouts/base.njk
permalink: /404.html
title: Game over
description: Page not found.
lowBattery: true
dimScreen: true
eleventyExcludeFromCollections: true
---
        <div class="over">
          <h1 class="pixel">GAME OVER</h1>
          <p>This page doesn't exist. (404)</p>
          <div class="q pixel">CONTINUE?</div>
          <ul class="menu">
            <li><a href="/"><svg class="cur" width="12" height="18" viewBox="0 0 7 10" aria-hidden="true"><path d="M0 0h2v1h1v1h1v1h1v1h1v1h1v1H6v1H5v1H4v1H3v1H2v1H0z" fill="currentColor"/></svg><div><span class="nm">YES</span> — back home</div></a></li>
            <li><a href="/"><svg class="cur" width="12" height="18" viewBox="0 0 7 10" aria-hidden="true"><path d="M0 0h2v1h1v1h1v1h1v1h1v1h1v1H6v1H5v1H4v1H3v1H2v1H0z" fill="currentColor"/></svg><div><span class="nm">NO</span> — also home</div></a></li>
          </ul>
        </div>
